<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <meta name="author" content="Nauel Gamero">
    <meta name="description" content="Práctica del módulo de fundamentos de NodeJS para el Bootcamp Web de Keep Coding">

    
        <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>




</head>